<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyLessons</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyLessons.styles.css" asp-append-version="true" />
</head>
<body>
    @{
        if(ViewBag.isReg == true)
        {
            <header>
                <nav class="navbar navbar-expand-lg navbar-light bg-dark">
                    <div class="container-fluid">
                        <h1 class="navbar-brand text-light">MyLessons</h1>
                        <div class="collapse navbar-collapse">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item"><a class="nav-link text-light text-decoration-none" asp-action="Index" asp-controller="Home">Главная</a></li>
                                <li class="nav-item"><a class="nav-link text-light text-decoration-none" asp-action="Privacy" asp-controller="Home">Расписание</a></li>
                                <li class="nav-item"><a class="nav-link text-light text-decoration-none">Добавить преподавателя</a></li>
                                <li class="nav-item"><a class="nav-link text-light text-decoration-none">@{ try{@ViewBag.obj.login} catch{}}</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
        }
        else
        {
            <header>
                <nav class="navbar navbar-expand-lg navbar-light bg-dark">
                    <div class="container-fluid">
                        <h1 class="navbar-brand text-light">MyLessons</h1>                     
                    </div>
                </nav>
            </header>
        }
    }
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
           Итоговый проект Цыганова К. 2026
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
