<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyLessons</title>
    <link rel="stylesheet" href="~/css/animate.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/flaticon.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/gijgo.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/jquery-ui.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/magnific-popup.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/nice-select.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/slicknav.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/theme-default.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/themify-icons.css" asp-append-version="true" />
</head>
<body>
    @RenderBody()


    @*  <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
            <div class="container-fluid">
                <div class="d-flex align-items-center">
                    <h1 class="navbar-brand text-light mb-0">MyLessons</h1>
                    <form class="nav-link" asp-controller="Main" asp-action="MainPanel">
                        <button type="submit" class="btn btn-link text-decoration-none text-light p-0">Главная панель</button>
                    </form>
                    <form class="nav-link" asp-controller="Main" asp-action="Table">
                        <button type="submit" class="btn btn-link text-decoration-none text-light p-0">Таблица</button>
                    </form>
                </div>
                <div class="ms-auto">
                    <a class="nav-link text-light" asp-action="Index" asp-controller="Home">Выйти</a>
                </div>
            </div>
        </nav>
    </header> *@
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/js/JavaScript.js" asp-append-version="true"></script>
    <script src="~/js/ajax-form.js" asp-append-version="true"></script>
    <script src="~/js/bootstrap.min.js"asp-append-version="true"></script>
    <script src="~/js/contact.js"asp-append-version="true"></script>
    <script src="~/js/gijgo.min.js" asp-append-version="true"></script>
    <script src="~/js/imagesloaded.pkgd.min.js"asp-append-version="true"></script>
    <script src="~/js/isotope.pkgd.min.js" asp-append-version="true"></script>
    <script src="~/js/JavaScript.js"asp-append-version="true"></script>
    <script src="~/js/jquery-1.12.4.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery.ajaxchimp.min.js"asp-append-version="true"></script>
    <script src="~/js/jquery.counterup.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery.form.js" asp-append-version="true"></script>
    <script src="~/js/jquery.magnific-popup.min.js"asp-append-version="true"></script>
    <script src="~/js/jquery.scrollUp.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery.slicknav.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/js/mail-script.js" asp-append-version="true"></script>
    <script src="~/js/wow.min.js" asp-append-version="true"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
