@model user;
<header>
	<div class="header-area">
		<div id="sticky-header" class="main-header-area">
			<div class="container-fluid">
				<div class="header_bottom_border">
					<div class="row align-items-center">
						<div class="col-xl-3 col-lg-2">
							<div class="logo">
								<img src="~/images/logo.png" />
							</div>
						</div>
						<div class="col-xl-6 col-lg-7">
							<div class="main-menu d-none d-lg-block">
								<nav>
									<ul id="navigation">
										<li><a asp-action="Index" asp-controller="Home">My Lesson</a></li>
										<li><a asp-action="Index" asp-controller="Home">Главная панель</a></li>
										<li><a asp-action="Index" asp-controller="Home">Таблица</a></li>
										<li><a asp-action="Index" asp-controller="Home">Профиль</a></li>
									</ul>
								</nav>
							</div>
						</div>
						<div class="col-12">
							<div class="mobile_menu d-block d-lg-none"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<div class="slider_area">
	<div class="single_slider d-flex align-items-center slider_bg_1">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-7 col-md-6">
					<div class="slider_text">
						<h5 class="wow fadeInLeft"
							data-wow-duration="1s"
							data-wow-delay=".2s">
							My Lesson
						</h5>
						<h3 class="wow fadeInLeft"
							data-wow-duration="1s"
							data-wow-delay=".3s">
							Удобное школьное расписание
						</h3>
						<p class="wow fadeInLeft"
						   data-wow-duration="1s"
						   data-wow-delay=".4s">
							MyLesson - сайт позволяющий составлять расписания для школы.
							Учитывает загруженность учителей и кабинетов.
							Удобен в использовании и не требует долгого освоения
						</p>
						<div class="sldier_btn wow fadeInLeft"
							 data-wow-duration="1s"
							 data-wow-delay=".5s">
							<a href="#" class="boxed-btn3">Начать работу</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="ilstration_img wow fadeInRight d-none d-lg-block text-right"
		 data-wow-duration="1s"
		 data-wow-delay=".2s">
		<img src="~/images/banner/illustration.png" />
	</div>
</div>


<h1 class="text-dark m-2">У меня есть аккаунт</h1>
<div class="segment">
	<form method="get" asp-action="Table" asp-controller="Home">
		<div class="row justify-content-center">
			<input asp-for="login" type="text" placeholder="Логин" value="user" class="input-group-text col-6 m-3" />
			<span asp-validation-for="login" class="col-6 text-danger"></span>
			<input asp-for="password" type="text" placeholder="Пароль" value="1234" class="input-group-text col-6 m-3" />
			<span asp-validation-for="password" class="col-6 text-danger"></span>
			<button class="btn btn-dark col-6 m-3">
				Войти
			</button>
		</div>
	</form>
</div>
<br />
<h1 class="text-dark m-2" id="reg">Зарегистрироваться</h1>
<div class="segment">
	<form asp-action="AddUser" asp-controller="Home">
		<div class="row justify-content-center">
			<input type="text" placeholder="Логин" class="input-group-text col-6 m-3" name="log" />
			<p class="col-6 text-danger">@ViewBag.MessageLog</p>
			<input type="text" placeholder="Пароль" class="input-group-text col-6 m-3" name="pass" />
			<p class="col-6 text-danger">@ViewBag.MessagePass</p>
			<button class="btn btn-dark col-6 m-3">
				Зарегистрироваться
			</button>
		</div>
	</form>
</div>
<h1 class="text-dark">Оставьте отзыв :)</h1>
<div class="row segment justify-content-center">
	<div class="mb-3">
		<a class="text-dark text-decoration-none">Ваше имя</a>
		<input type="text" name="login" title="Ваше имя" class="form-control" style="width:100%;" />
	</div>
	<a class="text-dark text-decoration-none">Ваша оценка</a>
	<div class="d-flex justify-content-center gap-2">
		<img type="image" src="~/css/star.png" style="width:40px; height:40px;" class="mx-1" />
		<img type="image" src="~/css/star.png" style="width:40px; height:40px;" class="mx-1" />
		<img type="image" src="~/css/star.png" style="width:40px; height:40px;" class="mx-1" />
		<img type="image" src="~/css/star.png" style="width:40px; height:40px;" class="mx-1" />
		<img type="image" src="~/css/star.png" style="width:40px; height:40px;" class="mx-1" />
		<input type="hidden" value="0" id="value" name="price" />
	</div>
	<br />
	<a class="text-dark text-decoration-none">Ваше мнение</a>
	<div>
		<input type="text" name="text" title="Ваше мнение" class="form-control" style="width:100%;" />
	</div>
	<div class="row justify-content-center m-3">
		<button class="btn btn-dark text-light col-6" type="submit">Отправить отзыв</button>
	</div>
</div>
<footer class="footer">
	<div class="footer_top">
		<div class="container">
			<div class="row">
				<div class="col-xl-3 col-md-6 col-lg-3">
					<div class="footer_widget wow fadeInUp"
						 data-wow-duration="1s"
						 data-wow-delay=".3s">
						<div class="footer_logo">
							<a href="#">
								<img src="~/images/logo.png" />
							</a>
						</div>
						<p>
							finloan@support.com <br />
							+10 873 672 6782 <br />
							600/D, Green road, NewYork
						</p>
						<div class="socail_links">
							<ul>
								<li>
									<a href="#">
										<i class="ti-facebook"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-google-plus"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-twitter"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-instagram"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-xl-2 col-md-6 col-lg-2">
					<div class="footer_widget wow fadeInUp"
						 data-wow-duration="1.1s"
						 data-wow-delay=".4s">
						<h3 class="footer_title">Company</h3>
						<ul>
							<li><a href="#">About </a></li>
							<li><a href="#"> Pricing</a></li>
							<li><a href="#">Carrier Tips</a></li>
							<li><a href="#">FAQ</a></li>
						</ul>
					</div>
				</div>
				<div class="col-xl-3 col-md-6 col-lg-3">
					<div class="footer_widget wow fadeInUp"
						 data-wow-duration="1.2s"
						 data-wow-delay=".5s">
						<h3 class="footer_title">Category</h3>
						<ul>
							<li><a href="#">Design & Art</a></li>
							<li><a href="#">Engineering</a></li>
							<li><a href="#">Sales & Marketing</a></li>
							<li><a href="#">Finance</a></li>
						</ul>
					</div>
				</div>
				<div class="col-xl-4 col-md-6 col-lg-4">
					<div class="footer_widget wow fadeInUp"
						 data-wow-duration="1.3s"
						 data-wow-delay=".6s">
						<h3 class="footer_title">Subscribe</h3>
						<form action="#" class="newsletter_form">
							<input type="text" placeholder="Enter your mail" />
							<button type="submit">Subscribe</button>
						</form>
						<p class="newsletter_text">
							Esteem spirit temper too say adieus who direct esteem esteems
							luckily.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="copy-right_text wow fadeInUp"
		 data-wow-duration="1.4s"
		 data-wow-delay=".3s">
		<div class="container">
			<div class="footer_border"></div>
			<div class="row">
				<div class="col-xl-12">
					<p class="copy_right text-center">
						Copyright &copy;
						<script>
							document.write(new Date().getFullYear());
						</script>
						All rights reserved | This template is made with
						<i class="fa fa-heart-o" aria-hidden="true"></i> by
						<a href="https://colorlib.com" target="_blank">Colorlib</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</footer>