@model user;
<header>
	<div class="header-area">
		<div id="sticky-header" class="main-header-area">
			<div class="container-fluid">
				<div class="header_bottom_border">
					<div class="row align-items-center">
						<div class="col-6 col-lg-2">
							<div class="logo">
								<img src="~/images/logo.png" style="max-width: 100%;" />
							</div>
						</div>
						<div class="col-xl-6 col-lg-7 d-none d-lg-block">
							<div class="main-menu d-none d-lg-block">
								<nav>
									<ul id="navigation">
										<li><a asp-action="Index" asp-controller="Home">My Lesson</a></li>
										<li><a asp-action="Index" asp-controller="Home">Главная панель</a></li>
										<li><a asp-action="Index" asp-controller="Home">Таблица</a></li>
										<li><a asp-action="Index" asp-controller="Home">Профиль</a></li>
									</ul>
								</nav>
							</div>
						</div>
						<div class="col-xl-3 col-lg-3 col-12 d-none d-lg-block">
							<div class="Appointment">
								<div class="phone_num">
									<a href="#">Log In</a>
								</div>
								<div>
									<a class="boxed-btn3">Sign In</a>
								</div>
							</div>
						</div>
						<div class="col-12 d-md-block">
							<div class="mobile_menu d-block d-lg-none"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<div class="slider_area">
	<div class="single_slider d-flex align-items-center slider_bg_1">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-12 col-lg-7">
					<div class="slider_text">
						<div class="d-flex justify-content-between align-items-center mb-3 w-100">
							<h5 class="wow fadeInLeft mb-0" data-wow-duration="1s" data-wow-delay=".2s">
								My Lesson
							</h5>
							<div class="d-flex align-items-center d-lg-none ml-auto">
								<div class="phone_num mr-3">
									<a href="#" style="color: #fff; font-weight: 500; white-space: nowrap;">Log In</a>
								</div>
								<div>
									<a class="boxed-btn3" style="padding: 10px 20px; font-size: 14px; white-space: nowrap;">Sign In</a>
								</div>
							</div>
						</div>
						<div style="max-width: 500px;">
							<h3 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".3s">
								Удобное школьное расписание
							</h3>
							<p class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".4s">
								MyLesson - сайт позволяющий составлять расписания для школы.
								Учитывает загруженность учителей и кабинетов...
							</p>
							<div class="sldier_btn wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">
								<a href="#" class="boxed-btn3">Начать работу</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="ilstration_img wow fadeInRight d-none d-lg-block text-right"
		 data-wow-duration="1s"
		 data-wow-delay=".2s">
		<img src="~/images/banner/illustration.png" />
	</div>
</div>
<div class="popular_catagory_area">
   <div class="container">
     <div class="row">
       <div class="col-lg-12">
         <div class="section_title mb-40">
           <h3>Преимущества</h3>
         </div>
       </div>
     </div>
     <div class="row">
       <div class="col-lg-4 col-xl-3 col-md-6">
         <div class="single_catagory">
           <a href="jobs.html"><h4 class="">Интуитивно понятный дизайн</h4></a>
		   <p>Простой красивый, приятный глазу, дизайн, позволяющий быстро разобраться с прицнипом работы</p>
         </div>
       </div>
       <div class="col-lg-4 col-xl-3 col-md-6">
         <div class="single_catagory">
           <a href="jobs.html"><h4>Скорость и легкость работы</h4></a>
           <p>Сайт не перегружен лишним контентом, что положительно сказывается на производительности</p>
         </div>
       </div>
       <div class="col-lg-4 col-xl-3 col-md-6">
         <div class="single_catagory">
           <a href="jobs.html"><h4>Безопасность и приватность</h4></a>
           <p>Благодаря системе авторизации данные учителей и внутренний график скрыты от посторонних. </p>
         </div>
       </div>
       <div class="col-lg-4 col-xl-3 col-md-6">
         <div class="single_catagory">
           <a href="jobs.html"><h4>Адаптация под смартфоны</h4></a>
           <p>Сайт адаптирован так же и под мобильные устройства, из-за чего можно работать в любой точке где есть интернет.</p>
         </div>
       </div>
   </div>
</div>
</div>
<div class="testimonial-section py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <div class="section_title mb-50">
                    <h3 class="testimonial-title">Цитаты</h3>
                </div>
            </div>
        </div>
		<div class="row justify-content-center">
			<div class="col-lg-10">
				<div class="testmonial_active owl-carousel">
					<div class="testmonial_active owl-carousel">
						<div class="single_testmonial d-flex align-items-center justify-content-center">
							<div class="thumb position-relative">
								<img src="@Url.Content("~/images/testmonial/author.png")" alt="Author" class="rounded-circle" style="width: 150px; height: 150px; object-fit: cover;">
								<div class="quote_icon">
									<i class="fa fa-quote-left"></i>
								</div>
							</div>
							<div class="info ml-4">
								<p class="testimonial-text">
									«Ключ не в том, чтобы расставлять приоритеты в вашем расписании, а в том, чтобы составлять расписание для ваших приоритетов.»
								</p>
								<span class="author-name">- Стивен Кови</span>
							</div>
						</div>
						<div class="single_testmonial d-flex align-items-center justify-content-center">
							<div class="thumb position-relative">
								<img src="@Url.Content("~/images/testmonial/author.png")" alt="Author" class="rounded-circle" style="width: 150px; height: 150px; object-fit: cover;">
								<div class="quote_icon">
									<i class="fa fa-quote-left"></i>
								</div>
							</div>
							<div class="info ml-4">
								<p class="testimonial-text">
									«На каждый час, потраченный на планирование, приходится три часа, сэкономленных на исполнении.»
								</p>
								<span class="author-name">- Бенджамин Франклин</span>
							</div>
						</div>
					</div>
					<div class="single_testmonial d-flex align-items-center justify-content-center">
						<div class="thumb position-relative">
							<img src="@Url.Content("~/images/testmonial/author.png")" alt="Author" class="rounded-circle" style="width: 150px; height: 150px; object-fit: cover;">
							<div class="quote_icon">
								<i class="fa fa-quote-left"></i>
							</div>
						</div>
						<div class="info ml-4">
							<p class="testimonial-text">
								«Расписание — это сеть, в которую попадает время. Это способ удержать дни, чтобы они не просочились сквозь пальцы.»
							</p>
							<span class="author-name">- Анни Диллард</span>
						</div>
					</div>
					<div class="single_testmonial d-flex align-items-center justify-content-center">
						<div class="thumb position-relative">
							<img src="@Url.Content("~/images/testmonial/author.png")" alt="Author" class="rounded-circle" style="width: 150px; height: 150px; object-fit: cover;">
							<div class="quote_icon">
								<i class="fa fa-quote-left"></i>
							</div>
						</div>
						<div class="info ml-4">
							<p class="testimonial-text">
								«Я стараюсь придерживаться строгого графика, потому что это единственный способ сохранить ясность ума и не отвлекаться на шум.»
							</p>
							<span class="author-name">- Джек Дорси</span>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
</div>
<footer class="footer">
	<div class="footer_top">
		<div class="container">
			<div class="row">
				<div class="col-xl-3 col-md-6 col-lg-3">
					<div class="footer_widget wow fadeInUp"
						 data-wow-duration="1s"
						 data-wow-delay=".3s">
						<div class="footer_logo">
							<a href="#">
								<img src="~/images/logo.png" />
							</a>
						</div>
						<p>
							finloan@support.com <br />
							+10 873 672 6782 <br />
							600/D, Green road, NewYork
						</p>
						<div class="socail_links">
							<ul>
								<li>
									<a href="#">
										<i class="ti-facebook"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-google-plus"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-twitter"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-instagram"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-xl-2 col-md-6 col-lg-2">
					<div class="footer_widget wow fadeInUp"
						 data-wow-duration="1.1s"
						 data-wow-delay=".4s">
						<h3 class="footer_title">Company</h3>
						<ul>
							<li><a href="#">About </a></li>
							<li><a href="#"> Pricing</a></li>
							<li><a href="#">Carrier Tips</a></li>
							<li><a href="#">FAQ</a></li>
						</ul>
					</div>
				</div>
				<div class="col-xl-3 col-md-6 col-lg-3">
					<div class="footer_widget wow fadeInUp"
						 data-wow-duration="1.2s"
						 data-wow-delay=".5s">
						<h3 class="footer_title">Category</h3>
						<ul>
							<li><a href="#">Design & Art</a></li>
							<li><a href="#">Engineering</a></li>
							<li><a href="#">Sales & Marketing</a></li>
							<li><a href="#">Finance</a></li>
						</ul>
					</div>
				</div>
				<div class="col-xl-4 col-md-6 col-lg-4">
					<div class="footer_widget wow fadeInUp"
						 data-wow-duration="1.3s"
						 data-wow-delay=".6s">
						<h3 class="footer_title">Subscribe</h3>
						<form action="#" class="newsletter_form">
							<input type="text" placeholder="Enter your mail" />
							<button type="submit">Subscribe</button>
						</form>
						<p class="newsletter_text">
							Esteem spirit temper too say adieus who direct esteem esteems
							luckily.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="copy-right_text wow fadeInUp"
		 data-wow-duration="1.4s"
		 data-wow-delay=".3s">
		<div class="container">
			<div class="footer_border"></div>
			<div class="row">
				<div class="col-xl-12">
					<p class="copy_right text-center">
						Copyright &copy;
						<script>
							document.write(new Date().getFullYear());
						</script>
						All rights reserved | This template is made with
						<i class="fa fa-heart-o" aria-hidden="true"></i> by
						<a href="https://colorlib.com" target="_blank">Colorlib</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</footer>
<script src="~/js/wow.min.js" asp-append-version="true"></script>
<script src="~/js/owl.carousel.min.js"></script>
<script>
	new WOW().init();
</script>
@section Scripts {
	<script>
		$(document).ready(function(){
			$(".testmonial_active").owlCarousel({
				items: 1,
				loop: true,
				autoplay: true,
				nav: false,
				dots: true
			});
		});
	</script>
}
