@model user;
<div>
	<div style="margin-top: 100px; " class="row g-0">
		<img src="https://avatars.mds.yandex.net/i?id=0baec8a2e048a7c817a6221f6108f5f48b46314e-15463503-images-thumbs&n=13" class="col-6 border-2" style="border-top-left-radius: 20px;  border-bottom-left-radius:20px" />
		<div class="bg-dark col-6" style=" border-top-right-radius:20px; border-bottom-right-radius:20px">
			<h2 class="text-light m-5">Удобное школьное расписание</h2>
			<p class="text-light m-5" style="font-size:20px">MyLesson - сайт позволяющий составлять расписания для школы.</p>
			<p class="text-light m-5" style="font-size:20px"> Учитывает загруженность учителей и кабинетов.</p>
			<p class="text-light m-5" style="font-size:20px"> Удобен в использовании и не требует долгого освоения</p>
			<div class="row justify-content-center">
				<a class="btn btn-light col-6 m-5" href="#reg" type="submit">
					Начать работу
				</a>
			</div>	
		</div>
	</div>
	<br />
	<h1 class="text-dark m-2">У меня есть аккаунт</h1>
	<div class="segment">
		<form method="get" asp-action="Table" asp-controller="Home">
			<div class="row justify-content-center">
				<input asp-for="login" type="text" placeholder="Логин" value="user" class="input-group-text col-6 m-3" />
				<span asp-validation-for="login" class="col-6 text-danger"></span>
				<input asp-for="password" type="text" placeholder="Пароль" value="1234" class="input-group-text col-6 m-3" />
				<span asp-validation-for="password" class="col-6 text-danger"></span>
				<button class="btn btn-dark col-6 m-3">
					Войти
				</button>
			</div>
		</form>	
	</div>
	<br />
	<h1 class="text-dark m-2" id="reg">Зарегистрироваться</h1>
	<div class="segment">
		<form method="post" asp-action="AddAccount" asp-controller="Home">
			<div class="row justify-content-center">
				<input type="text" placeholder="Логин" class="input-group-text col-6 m-3" name="log"/>
				<p class="col-6 text-danger">@ViewBag.MessageLog</p>
				<input type="text" placeholder="Пароль" class="input-group-text col-6 m-3" name="pass"/>
				<p class="col-6 text-danger">@ViewBag.MessagePass</p>
				<button class="btn btn-dark col-6 m-3">
					Зарегистрироваться
				</button>
			</div>
		</form>	
	</div>
	<h1 class="text-dark">Оставьте отзыв :)</h1>
	<div class="row segment justify-content-center">
		<div class="mb-3">
			<a class="text-dark text-decoration-none">Ваше имя</a>
			<input type="text" name="login" title="Ваше имя" class="form-control" style="width:100%;" />
		</div>
		<a class="text-dark text-decoration-none">Ваша оценка</a>
		<div class="d-flex justify-content-center gap-2">
			<img type="image" src="~/css/star.png" style="width:40px; height:40px;" class="mx-1" />
			<img type="image" src="~/css/star.png" style="width:40px; height:40px;" class="mx-1" />
			<img type="image" src="~/css/star.png" style="width:40px; height:40px;" class="mx-1" />
			<img type="image" src="~/css/star.png" style="width:40px; height:40px;" class="mx-1" />
			<img type="image" src="~/css/star.png" style="width:40px; height:40px;" class="mx-1" />
			<input type="hidden" value="0" id="value" name="price" />
		</div>
		<br />
		<a class="text-dark text-decoration-none">Ваше мнение</a>
		<div>
			<input type="text" name="text" title="Ваше мнение" class="form-control" style="width:100%;" />
		</div>
		<div class="row justify-content-center m-3">
			<button class="btn btn-dark text-light col-6" type="submit">Отправить отзыв</button>
		</div>
	</div>
</div>