<div class="align-content-center">
    <h1>Ooops...</h1>
    <p>Произошла непредвиденная ошибка :(</p>
    <p>Перезайдите на сайт или обратитесь в <a class="text-decoration-none" asp-action="Support" asp-controller="Home">поддержку</a>, укажите свою проблему, логин и пароль от аккаунта и ждите ответа.</p>
    <p>@ViewBag.data</p>
</div>
