<button id="toggleSidebar" class="btn btn-outline-info position-sticky" style="top: 60px; left: 0px; z-index: 1050; transition: top 0.3s ease, left 0.3s ease;">
    &
</button>
<div id="sidebar"
     style="
        width: 500px;
        height: 100vh;
        background: #343a40;
        color: white;
        position: fixed;
        top: 58px;
        left: -500px;
        transition: left 0.3s ease, top 0.3s ease;
        padding: 20px;
        z-index: 64;
        border-radius: 0 10px 10px 0;
       ">
</div>
<script>
    const btn = document.getElementById('toggleSidebar');
    const sidebar = document.getElementById('sidebar');
    window.addEventListener('scroll', () => {
      const topValue = window.scrollY > 0 ? '0px' : '60px';
      btn.style.top = topValue;
      sidebar.style.top = topValue;
    });
</script>
<div class="container">
    <h1 class="text-center">Часто Задаваемые Вопросы</h1>
    <div class="container mt-3">
        <h3 class="text-center">Для регистрации нужен только логин и пароль?</h3>
        <div class="row mb-3">
            <div class="col-6 left d-flex align-items-center justify-content-center">
                <p class="m-1">Да. В целях гарантийной безопасности пользователей и экономии денежных средств регистрация и авторизация основывается только на логине и пароле пользователя.</p>
                <p class="m-1">В случае потери данных об аккаунте советуем обратиться в <a class="text-decoration-none" asp-action="Support" asp-controller="Home">поддержку</a>.</p>
            </div>
            <div class="col-6 right d-flex align-items-center justify-content-center">
                <img src="~/screenshots/photo_2026-03-04_20-15-00.png" style="width: 70%"/> 
            </div>
        </div>
        <h3 class="text-center">Я вошел в аккаунт, и что дальше?</h3>
        <div class="row mb-3">
            <div class="col-6 left2 d-flex align-items-center justify-content-center">
                <img src="~/screenshots/image_2026-03-04_20-25-04.png" style="width: 70%" />
            </div>
            <div class="col-6 right2 d-flex align-items-center justify-content-center">
                <p class="m-1">Первым обязательным делом будет добавление учителей. Добавить учителя можно заполнив небольшую форму.</p>
                <p class="m-1">После добавления первого учителя нужно вручную заполнить форму о создании урока ниже формы добавления учителей.</p>
                <p class="m-1">После выполненных действий можно будет перейти в таблицу перейдя по ссылке в верхней части экрана, где работать на много легче (:</p>
            </div>
        </div>
    </div>
</div>

<script src="~/js/sidebar.js"></script>

