@model user;
@{user user = ViewBag.user;}
<div>
	<div class="justify-content-center row">
		<h1 class="col-12 text-center">Главная панель @user.login</h1>
	</div>
	<h3>Учительская панель</h3>
	<div class="segment">
		<p>mainContent</p>
	</div>
	<h3>Предметная панель</h3>
	<div class="segment">
		<p>mainContent</p>
	</div>
</div>
